<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.genmymodel.category"
            name="GenMyModel Engine Connector">
      </category>
      <command
            categoryId="org.genmymodel.category"
            defaultHandler="org.genmymodel.engine.connector.handlers.GMMCompileHandler"
            description="Compiles the selected custom generator project (MTL compilation)."
            id="org.genmymodel.compile.command"
            name="CompileCommand">
      </command>
      <command
            categoryId="org.genmymodel.category"
            defaultHandler="org.genmymodel.engine.connector.handlers.GMMLaunchHandler"
            id="org.genmymodel.launch.commandor"
            name="LaunchCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="GenMyModel">
            <command
                  commandId="org.genmymodel.compile.command"
                  label="Compile"
                  style="push">
            </command>
            <command
                  commandId="org.genmymodel.launch.command"
                  label="Launch"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               label="GenMyModel">
            <command
                  commandId="org.genmymodel.compile.command"
                  label="Compile"
                  style="push">
            </command>
            <command
                  commandId="org.genmymodel.launch.commandor"
                  label="Launch"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.genmymodel.newproject.category"
            name="GenMyModel">
      </category>
      <category
            id="org.genmymodel.newproject.page"
            name="Custom Generator Project"
            parentCategory="gmmNProjectParent">
      </category>
      <wizard
            category="org.genmymodel.newproject.category/org.genmymodel.newproject.page"
            class="org.genmymodel.engine.connector.wizards.newProject.NewCustomgenProjectWizard"
            hasPages="true"
            icon="icons/gmm.ico"
            id="org.genmymodel.newproject.wizard"
            name="Custom Generator Project"
            project="true">
      </wizard>
   </extension>
   <!--<extension
      id="wizard"
      name="Project"
      point="org.eclipse.ui.newWizards">
   <category
         name="Project Wizards"
         id="wizard.category">
   </category>
   <wizard
         name="List of projects"
         icon="icons/wizard.gif"
         category="wizard.category"
         class="org.genmymodel.engine.connector.wizards.launch.GMMProject"
         id="wizard.wizard">
      <description>
      	Project choices
      </description>
   </wizard>
</extension>

<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         objectClass="org.eclipse.core.resources.IFolder"
         id="org.genmymodel.engine.connector.wizards.popup">
      <action
            label="List of projects"
            icon="icons/action.gif"
            class="org.genmymodel.engine.connector.wizards.launch.ProjectAction"
            id="wizard.action">
      </action>
   </objectContribution>
</extension>-->

</plugin>
