<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            uri="org.genmymodel.plugin.resource.resource1">
      </resource>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.genmymodel.plugin.resource.Factory1"
            protocolName="org.genmymodel.plugin.resource.parser1">
      </parser>
   </extension>

</plugin>
